RESEND_API_KEY=your_resend_api_key_here
NEXT_PUBLIC_RESEND_API_KEY=your_resend_api_key_here
MONGODB_URI=your_mongodb_connection_string
MONGODB_DB=your_database_name

# Admin Dashboard Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_admin_password

SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_HOST=your_smtp_host
SMTP_PORT=587
NEXT_PUBLIC_BASE_URL=http://localhost:3000
# CLOUDINARY_URL=your_cloudinary_url
